@{
    ViewData["Title"] = "UserPage";
}
@using System.Globalization
@model AwesomeNetwork.ViewModels.Account.UserViewModel
@using AwesomeNetwork.ViewModels.Account

<link rel="stylesheet" href="~/css/user-page.css" />
<link rel="stylesheet" href="~/css/main-page.css" />

<div class="main background-white">
    <div class="photo">
        <img class="main-img" src="https://thispersondoesnotexist.com" />
        <a class="btn_submit" asp-controller="AccountManager" asp-action="StartEdit">Редактировать</a>        
    </div>
    <div class="frm_text">
        <hr>
            <form>
                <p>Статус: <b>@Model.User.Status</b></p>
            <p>Дата рождения: <b>@Model.User.BirthDate.Day @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@Model.User.BirthDate.Month) @Model.User.BirthDate.Year г.</b></p>
                <p>О себе: <b>@Model.User.About</b></p>
                <p>Email: <b>@Model.User.Email</b></p>
            </form>
        <hr>
            <p>Друзья</p>
        <hr>
    </div>
</div>

